table {
	width: 100%;
	border-collapse: collapse;
}
th,
td {
	border: 1px solid black;
	padding: 8px;
	text-align: center;
	font-size: 30px;
}
th {
	background-color: #da9b9b;
}

body {
	font-family: Arial, sans-serif;
}
h1 {
	text-align: center;
}
ul {
	list-style-type: none;
	padding: 0;
}
li {
	margin: 10px 0;
}
a {
	text-decoration: none;
	color: #007bff;
}
a:hover {
	text-decoration: underline;
}

.index-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

p {
	font-size: 17px;
}
